@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  font-family: "Open Sans", sans-serif;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background: #000;
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: auto;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
}
header .container .header-main {
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .header-main .header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container .header-main .header-nav ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}
header .container .header-main .header-nav ul li:not(:last-child) {
  margin: 0 40px 0 0;
}
header .container .header-main .header-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .header-main .header-last .header-last__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .header-main .header-last .header-last__lang div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .header-main .header-last .header-last__lang::after {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  margin: 0 25px;
  background: #fff;
  opacity: 0.8;
  border-radius: 5px;
}
header .container .header-main .header-last .header-last__lang svg {
  margin: 0 5px;
}
header .container .header-main .header-last .header-last__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container .header-main .header-last .header-last__links a {
  display: block;
}
header .container .header-main .header-last .header-last__links a:not(:last-child) {
  margin: 0 10px 0 0;
}
header .container .header-main .header-last .header-last__links a svg {
  display: block;
}

.one {
  height: 960px;
  background: url("../images/bg/bg-image-1.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.one .container .first-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.one .container .first-main .first-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 320px 0 0 0;
}
.one .container .first-main .first-info h2 {
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 8px 0;
}
.one .container .first-main .first-info h3 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0 0 28px 0;
}
.one .container .first-main .first-info button {
  cursor: pointer;
  padding: 17px 17px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  background: -o-linear-gradient(255.32deg, #FFB548 11.27%, #F3AF34 90.4%);
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 5px;
  border: none;
}
.one .container .first-main .first-info button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.one .container .first-main .first-info button span::before {
  content: "";
  display: block;
  width: 1px;
  height: 24px;
  margin: 0 14px 0 12px;
  background: #1A1917;
}
.one .container .first-main .first-scroll {
  margin: 360px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.one .container .first-main .first-scroll div {
  cursor: pointer;
}
.one .container .first-main .first-scroll div h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.two {
  height: 1052px;
  background: url("../images/bg/bg-image-2.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.two .container .two-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.two .container .two-main .two-main__info {
  margin: 250px 0 0 0;
  position: relative;
}
.two .container .two-main .two-main__info h4 {
  font-family: "Bebas Neue";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
}
.two .container .two-main .two-main__info h2 {
  font-family: "Bebas Neue";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 410px;
}
.two .container .two-main .two-main__info h2::after {
  content: "";
  display: block;
  width: 800px;
  height: 3px;
  background: #fff;
  border-radius: 4px;
  margin: 10px 0 72px 0;
}
.two .container .two-main .two-main__info p {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  max-width: 360px;
  right: 0;
}
.two .container .two-main .two-main__slider {
  margin: 200px 0 0 50px;
}
.two .container .two-main .two-main__slider .slider {
  position: relative;
  width: 500px;
  height: 600px;
}
.two .container .two-main .two-main__slider .slider button svg {
  cursor: pointer;
  position: absolute;
  right: -140px;
  top: calc(50% - 18px);
}
.two .container .two-main .two-main__slider .slider .i-main {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 6;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-55%, 0);
      -ms-transform: translate(-55%, 0);
          transform: translate(-55%, 0);
}
.two .container .two-main .two-main__slider .slider .i-main .i {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #fff;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.two .container .two-main .two-main__slider .slider .i-main .i:not(:last-child) {
  margin-right: 40px;
}
.two .container .two-main .two-main__slider .slider .i-main .i::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
  margin-left: 14px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.two .container .two-main .two-main__slider .slider .i-main .i.active {
  background: #fff;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.two .container .two-main .two-main__slider .slider .i-main .i.active:not(:last-child)::after {
  width: 24px;
  background: #fff;
}
.two .container .two-main .two-main__slider .slider img {
  position: absolute;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.two .container .two-main .two-main__slider .slider .slider-img-1 {
  z-index: 5;
  margin-left: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.two .container .two-main .two-main__slider .slider .slider-img-2 {
  z-index: 4;
  margin-left: 50px;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.two .container .two-main .two-main__slider .slider .slider-img-3 {
  z-index: 3;
  margin-left: 100px;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.three {
  height: 1052px;
  background: url("../images/bg/bg-image-3.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.three .container .three-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.three .container .three-main .three-main__info {
  margin: 180px 0 0 50px;
}
.three .container .three-main .three-main__info .text-info {
  margin: 0 0 70px 0;
}
.three .container .three-main .three-main__info .text-info h4 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
}
.three .container .three-main .three-main__info .text-info h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.three .container .three-main .three-main__info .text-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.three .container .three-main .three-main__info .text-slider ul li {
  cursor: pointer;
  margin-bottom: 40px;
}
.three .container .three-main .three-main__info .text-slider ul li h3 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #FFB548;
  margin: 0 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.three .container .three-main .three-main__info .text-slider ul li h3::before {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 15px 0 0;
}
.three .container .three-main .three-main__info .text-slider ul li .h3-active::before {
  background: #fff;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.three .container .three-main .three-main__info .text-slider ul li p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  max-width: 360px;
  display: none;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  margin: 0 0 0 30px;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.three .container .three-main .three-main__info .text-slider ul li .text-active {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.four {
  height: 960px;
  background: url("../images/bg/bg-image-4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.four .container .four-main .four-main-text {
  padding: 150px 0 0 0;
  text-align: center;
  margin: 0 0 140px 0;
}
.four .container .four-main .four-main-text h3 {
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0 0 10px 0;
}
.four .container .four-main .four-main-text h2 {
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.four .container .four-main .four-main-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.four .container .four-main .four-main-info .four-main__info {
  background-image: url("../images/frame.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 290px 310px;
  grid-template-rows: 132px 132px 154px;
  gap: 0px;
  height: 420px;
  width: 600px;
}
.four .container .four-main .four-main-info .four-main__info .items {
  padding: 15px 20px;
}
.four .container .four-main .four-main-info .four-main__info .items h2 {
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFB548;
  margin: 0 0 8px 0;
}
.four .container .four-main .four-main-info .four-main__info .items p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.four .container .four-main .four-main-info .four-main__info #item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}
.four .container .four-main .four-main-info .four-main__info #item-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}
.four .container .four-main .four-main-info .four-main__info #item-2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
.four .container .four-main .four-main-info .four-main__info #item-3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}
.four .container .four-main .four-main-info .four-main__info #item-4 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
}

.five {
  height: 1920px;
  background: url("../images/bg/bg-image-5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.five .container .five-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.five .container .five-main .five-main__reviews .people {
  padding: 20px;
  background: #999;
}
.five .container .five-main .five-main__reviews .people .people-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.five .container .five-main .five-main__reviews .people .people-one img {
  position: relative;
}
.five .container .five-main .five-main__reviews .people .people-one img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background: #FFB548;
}
.five .container .five-main .five-main__info h4 {
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.five .container .five-main .five-main__info h2 {
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.five .container .five-main .five-main__info p {
  max-width: 430px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.five .container .five-main .five-main__info button {
  background: -o-linear-gradient(255.32deg, #FFB548 11.27%, #F3AF34 90.4%);
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  padding: 20px 36px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */