*
    box-sizing: border-box
    margin: 0
    padding: 0

*,
*:before,
*:after
    box-sizing: border-box

h1, h2, h3, h4, h5, h6
    margin: 0

ul
    list-style: none

a
    text-decoration: none

html
    width: 100%
    max-width: 100%
    overflow-x: hidden

body
    width: 100%
    max-width: 100%
    overflow-x: hidden

    font-family: 'Open Sans', sans-serif
    background: red
    color: #fff

.container
    max-width: 1440px
    margin: auto
    width: 100%
