.five
  .container
    footer
      .prefooter
        display: flex
        align-items: center
        flex-direction: row
        justify-content: space-between
        .prefooter-logo
          img
            width: 90px
            height: 90px
        .prefooter-nav
          ul
            display: flex
            align-items: center
            flex-direction: row
            li
              a
                color: #fff
                font-weight: 600
                letter-spacing: 0.1em
                text-transform: uppercase
                text-decoration: none
                font-size: 13px
                font-family: Open Sans
                font-weight: 700
                letter-spacing: 1.2px
            li:not(:last-child)
              margin: 0 40px 0 0
        .prefooter-links
