header
    display: flex
    justify-content: space-around
    align-items: center
    padding: 20px 0 0 0
    .header-nav
        ul
            display: flex
            li
                a
                    text-transform: uppercase
                    text-decoration: none
                    color: #fff
            li:not(:last-child)
                margin: 0 40px 0 0

    .header-last
        display: flex
        align-items: center
