.five
  .container
    .six-main
      display: grid
      grid-template-columns: 1fr 2fr
      grid-template-rows: 1fr
      grid-column-gap: 0px
      grid-row-gap: 0px
      .six-main__img
        margin: 100px 0 0 0
        display: flex
        align-items: center
        height: 100%
        img
          background-position: center
          background-size: cover
          background-repeat: no-repeat
      .six-main__info
        margin: 220px 0 0 30px
        h4
          color: #FFF
          font-size: 24px
          font-family: Bebas Neue
          font-weight: 500
          letter-spacing: 2px
          margin: 0 0 10px 0
        h2
          color: #FFF
          font-size: 80px
          font-family: Bebas Neue
          font-weight: 500
          letter-spacing: 3px
          text-transform: uppercase
          margin: 0 0 50px 0
        p
          color: #FFF
          font-size: 18px
          font-family: Open Sans
          line-height: 22px
          margin: 0 0 60px 0
          max-width: 650px
          font-weight: 300
        form
          input
            width: 360px
            height: 60px
            border-radius: 5px
            background: rgba(255, 255, 255, 0.08)
            border: none
            padding: 20px
            color: #FFB548
            font-size: 18px
            font-family: Open Sans
            margin: 0 14px 0 0
          button
            height: 60px
            color: #1A1917
            text-align: center
            font-size: 16px
            font-family: Open Sans
            font-weight: 700
            text-transform: capitalize
            padding: 15px 60px
            border-radius: 5px
            background: linear-gradient(181deg, #FFB548 0%, #F3AF34 99.52%)
