.two
  height: 1052px
  background: url('../images/bg/bg-image-2.jpg')
  background-position: top
  background-size: cover
  background-repeat: no-repeat
  .container
    .two-main
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: 1fr
      grid-column-gap: 0px
      grid-row-gap: 0px
      .two-main__info
        margin: 250px 0 0 0
        position: relative
        h4
          font-family: 'Bebas Neue'
          text-transform: uppercase
          font-weight: 500
          font-size: 24px
          line-height: 24px
          letter-spacing: 2px
          margin: 0 0 10px 0
        h2
          font-family: 'Bebas Neue'
          text-transform: uppercase
          font-weight: 500
          font-size: 80px
          line-height: 80px
          letter-spacing: 3px
          text-transform: uppercase
          max-width: 410px
          &::after
            content: ""
            display: block
            width: 800px
            height: 3px
            background: #fff
            border-radius: 4px
            margin: 10px 0 72px 0
        p
          position: absolute
          font-weight: 400
          font-size: 18px
          line-height: 22px
          text-align: justify
          max-width: 360px
          right: 0

      .two-main__slider
        margin: 200px 0 0 50px
        .slider
          position: relative
          width: 500px
          height: 600px
          button
            svg
              cursor: pointer
              position: absolute
              right: -140px
              top: calc(50% - 18px)
          .i-main
            position: absolute
            display: flex
            z-index: 6
            bottom: 20px
            left: 50%
            transform: translate(-55%, 0)
            .i
              cursor: pointer
              display: block
              width: 16px
              height: 16px
              border-radius: 50%
              display: flex
              align-items: center
              border: 2px solid #fff
              transition: all 0.5s ease-out
              &:not(:last-child)
                margin-right: 40px
              &::after
                content: ""
                display: block
                position: absolute
                height: 2px
                width: 0
                margin-left: 14px
                transition: all 0.5s ease-out
            .i.active
              background: #fff
              transition: all 0.5s ease-out
              &:not(:last-child)
                &::after
                  width: 24px
                  background: #fff

          img
            position: absolute
            border-radius: 15px
            height: 100%
            width: 100%
          .slider-img-1
            z-index: 5
            margin-left: 0
            transform: scale(1)
            transition: all 0.5s ease-out
          .slider-img-2
            z-index: 4
            margin-left: 50px
            transform: scale(0.95)
            transition: all 0.5s ease-out
          .slider-img-3
            z-index: 3
            margin-left: 100px
            transform: scale(0.9)
            transition: all 0.5s ease-out
