.two
  height: 1052px
  background: url('../images/bg/bg-image-2.jpg')
  background-position: top
  background-size: cover
  background-repeat: no-repeat
  .container
    .two-main
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: 1fr
      grid-column-gap: 0px
      grid-row-gap: 0px
      .two-main__info
        margin: 250px 0 0 0
        position: relative
        h4
          font-family: 'Bebas Neue'
          text-transform: uppercase
          font-weight: 500
          font-size: 24px
          line-height: 24px
          letter-spacing: 2px
          margin: 0 0 10px 0
        h2
          font-family: 'Bebas Neue'
          text-transform: uppercase
          font-weight: 500
          font-size: 80px
          line-height: 80px
          letter-spacing: 3px
          text-transform: uppercase
          max-width: 410px
          &::after
            content: ""
            display: block
            width: 800px
            height: 3px
            background: #fff
            border-radius: 4px
            margin: 10px 0 72px 0
        p
          position: absolute
          font-weight: 400
          font-size: 18px
          line-height: 22px
          text-align: justify
          max-width: 360px
          right: 0

      .two-main__slider
